@charset "utf-8";

/*
Base style
*/
body {
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #c39cca;

}

/* 
grid
*/

.grid {
    display: flex;
    flex-wrap: wrap;
}
.grid-item {
    width: 25%;
    padding: 5px;
    
}

.grid1 {
    padding: 10px 5px 10px 5px;
}
.grid1 .grid-item {
    width: 25%;
}

.grid2 {
    padding: 10px 5px;
}
.grid2 .grid-item {
    width: 50%;
}

.grid3 {
    padding: 10px 5px;
}
.grid3 .grid-item {
    width: 16.6%;
    padding: 10px 5px;
}

@media screen and (max-width: 768px) {
    .grid .grid-item {
        width: 100%;
    }
}
.square {
    display: block;
    background-color: #ac389a;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 #4c4b4b;
    transition: box-shadow .25s;
}
.square:hover {
    box-shadow:  0 #bbb;
    opacity: 0.6;
}




/*
form
*/
.form {
    padding: 0px 20px;
}

.form-headline {
    text-align: center;
}

.form-table {
    margin: 0 auto;
}
.form-table td {
    padding: 10px;
}
.form-table th {
    text-align: left;
}
.form-button {
    text-align: center;
    padding: 10px 0;
}
.input {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #333;
    min-width: 500px;
    height: 15px;
    background-color: #8d76cb;
}
.button {
    cursor: pointer;
    min-width: 200px;
    background-color: #793db9;
    border: solid, 1px;
    border-radius: 15px;
    height: 30px;
}
.button:hover {
    opacity: 0.5;
}

.signup-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
@media screen and (max-width: 768px){
    .input,
    .signup-message {
        min-width: auto;
        width: 100%;
    }
    .button {
        min-width: auto;
        width: 50%;
    }
    .form-table,
    .form-table th,
    .form-table tr,
    .form-table td,
    .form-table tbody{
        display: block;
    }
}

/* 
password
*/
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.eye-icon {
    font-size: 1.2em;
}